.contenedorBurbujas {
  position: absolute; /* Relativo a la webpart */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Delante del fondo pero detrás del contenido */
  overflow: visible !important; /* Anula cualquier overflow hidden */
  pointer-events: none;
}

.burbuja {
  position: absolute;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.9;
  z-index: 1;
}