.select {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.select:focus {
  outline: none;
  border-color: #5c346c;
}

.error {
  border-color: #e53935;
}