.fondoBase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;

  // Mejores prácticas visuales
  background-color: #f5faff; // Color plano claro
  transform: translateZ(0); // fuerza render en su propia capa
  backface-visibility: hidden;
  will-change: transform;
}

.fondoClaro {
  background: linear-gradient(
    135deg,
    #e6f0ff 0%,    // celeste muy suave, más claro
    #b0d0ff 100%   // celeste claro pero vibrante
  );
}

.fondoOscuro {
  background: radial-gradient(
      circle at 70% 70%,
      #002244,
      #003366 80%
    );
}
