.button {
  padding: 0.8rem 2rem;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease;
  transform: scale(1);
}

.primary {
  color: var(--color-primario);
  border-color: var(--color-primario);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--color-primario-claro); // Más definido que -muy-claro
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
  }

  &:hover {
    color: var(--color-texto-invertido);
    transform: scale(0.8); // Leve reducción al hacer hover
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // Sombra suave

    &::before {
      opacity: 1;
    }
  }
}

:global(.modo-oscuro) .primary {
  color: var(--color-texto-claro, #ffffff);
  border-color: var(--color-texto-claro, #ffffff);

  &::before {
    background: var(--color-primario-oscuro);
  }

  &:hover {
    color: var(--color-texto-invertido, #121212);
    transform: scale(0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    &::before {
      opacity: 1;
    }
  }
}